html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(BG.PNG) no-repeat 50% 50%;
  background-size: cover;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* navbar starts here */

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
}

.nav.scrolled {
  transition: background-color 500ms linear;
}

.nav #brand {
  float: left;
  display: block;
  margin-left: 30px;
  line-height: 80px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
}

.nav #brand a {
  color: #fff;
  font-family: "Montserrat";
  transition: all 500ms ease-out;
}

.nav #brand a:hover {
  text-decoration: none;
  color: #818181;
  transition: all 500ms ease-out;
}

.nav #menu {
  float: left;
  right: 40px;
  position: fixed;
}

.nav #menu li {
  padding-left: 40px;
  display: inline-block;
  font-weight: lighter !important;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 80px;
  position: relative;
  transition: all 500ms ease-out;
}

.nav #menu li a {
  color: #fff;
  transition: all 500ms ease-out;
}

.nav #menu li a:hover {
  text-decoration: none;
  color: #818181;
  transition: all 500ms ease-out;
}

#toggle {
  position: absolute;
  right: 40px;
  top: 20px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  z-index: 2;
  width: 30px;
  height: 30px;
  float: right;
  transition: all 500ms ease-out;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 30px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: -2px;
  line-height: 80px;
  cursor: pointer;
}

#resize {
  z-index: 2;
  top: 0px;
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  list-style: none;
}

#resize #menu li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 36px;
  text-transform: uppercase;
  min-height: 50px;
  font-weight: bold;
  transition: all 0.3s ease-out;
  color: rgb(156, 156, 156);
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a:hover {
  text-decoration: none;
  transition: all 500ms ease-out;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 767px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 10px;
  }

  #resize ul li a {
    font-size: 15px;
    font-family: "Poppins" !important;
    font-weight: lighter !important;
    color: rgb(156, 156, 156) !important;
    transition: all 500ms ease-out;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 767px) {
  #resize {
    visibility: hidden !important;
  }
}

/* header section */

.header {
  position: absolute;
  width: 100%;
  top: 36%;
  text-align: center;
}

.header h1 {
  font-family: "Montserrat";
  font-size: 72px;
  color: #fff;
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 36px;
  }
}

/* tagline */

.tagline {
  position: absolute;
  width: 100%;
  top: 48%;
  text-align: center;
}

.tagline p {
  font-family: "Montserrat";
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 8px;
}

@media (max-width: 767px) {
  .tagline p {
    font-size: 16px;
  }
}

/* button */

.button {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}

.button button {
  padding: 16px 42px;
  font-family: "Montserrat";
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  transition: all 500ms ease-out;
}

.button button:hover {
  transition: all 500ms ease-out;
  background: #fff;
  color: #000;
}

@media (max-width: 767px) {
  .button button {
    font-size: 12px;
    padding: 8px 22px;
  }
}

/* footer */

.footer {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer .contact-details div {
  padding: 4px 12px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

.footer .opening-times div {
  font-size: 12px;
  font-family: "Montserrat";
  letter-spacing: 2px;
  text-align: center;
  padding: 4px 10px;
}

.footer li {
  list-style: none;
  display: block;
  padding: 0px 10px;
}

.footer li a {
  color: #fff;
  font-family: "Montserrat";
  transition: all 500ms ease-out;
  text-decoration: none;
  letter-spacing: 2px;
}

.footer li a:hover {
  transition: all 500ms ease-out;
  text-decoration: none;
  color: rgb(189, 189, 189);
}

.twitter,
.instagram {
  display: none;
}

@media (max-width: 767px) {
  .footer .contact-details {
    display: none;
  }

  .footer .opening-times {
    display: none;
  }

  .footer ul li {
    display: inline-block;
    padding: 0px 5px;
  }
}
